In [ ]:
# Q1: What is a database? Differentiate between SQL and NoSQL databases.

# A database is a structured collection of data that can be easily accessed, managed, and updated. It typically uses a database management system (DBMS) to handle the data.

# SQL Databases (Relational Databases):
# - Structured Query Language (SQL) is used for querying and managing the data.
# - Data is organized in tables with rows and columns, and relationships between tables are defined using keys.
# - Examples: MySQL, PostgreSQL, SQLite.

# NoSQL Databases (Non-relational Databases):
# - Not primarily based on SQL and typically handle unstructured or semi-structured data.
# - Data can be stored in various formats such as key-value pairs, documents, graphs, or columns.
# - Examples: MongoDB, Cassandra, Redis.

# Q2: What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

# DDL (Data Definition Language) is used to define and manage database schema and structure.

# - CREATE: Used to create new database objects like tables, indexes, or databases.
#   Example: `CREATE TABLE students (id INT PRIMARY KEY, name VARCHAR(100));`

# - DROP: Used to delete database objects such as tables, indexes, or databases.
#   Example: `DROP TABLE students;`

# - ALTER: Used to modify the structure of an existing database object, such as adding or dropping columns.
#   Example: `ALTER TABLE students ADD COLUMN age INT;`

# - TRUNCATE: Used to remove all records from a table but keeps the table structure intact.
#   Example: `TRUNCATE TABLE students;`

# Q3: What is DML? Explain INSERT, UPDATE, and DELETE with an example.

# DML (Data Manipulation Language) is used to manage and manipulate data within database objects.

# - INSERT: Adds new records to a table.
#   Example: `INSERT INTO students (id, name) VALUES (1, 'John Doe');`

# - UPDATE: Modifies existing records in a table.
#   Example: `UPDATE students SET name = 'Jane Doe' WHERE id = 1;`

# - DELETE: Removes records from a table.
#   Example: `DELETE FROM students WHERE id = 1;`

# Q4: What is DQL? Explain SELECT with an example.

# DQL (Data Query Language) is used to query and retrieve data from a database.

# - SELECT: Retrieves data from one or more tables.
#   Example: `SELECT * FROM students;`  # Retrieves all columns and rows from the students table.

# Q5: Explain Primary Key and Foreign Key.

# - Primary Key: A unique identifier for each record in a table. It ensures that each record is uniquely identifiable.
#   Example: In a table `students`, the column `id` can be the primary key.

# - Foreign Key: A column (or set of columns) in one table that refers to the primary key of another table, establishing a relationship between the tables.
#   Example: In a `grades` table, `student_id` might be a foreign key that references `id` in the `students` table.

# Q6: Write a Python code to connect MySQL to Python. Explain the cursor() and execute() method.

import mysql.connector

# Establishing a connection to the MySQL database
conn = mysql.connector.connect(
    host="localhost",
    user="your_username",
    password="your_password",
    database="your_database"
)

# Creating a cursor object using cursor() method
cursor = conn.cursor()

# Example of using execute() method to run a query
cursor.execute("SELECT * FROM students")

# Fetching the results
results = cursor.fetchall()
for row in results:
    print(row)

# Closing the cursor and connection
cursor.close()
conn.close()

# Q7: Give the order of execution of SQL clauses in an SQL query.

# The typical order of execution for SQL clauses in a query is:
# 1. `FROM`: Specifies the tables from which to retrieve data.
# 2. `JOIN`: Combines rows from multiple tables based on a related column.
# 3. `WHERE`: Filters rows based on a condition.
# 4. `GROUP BY`: Groups rows that have the same values into summary rows.
# 5. `HAVING`: Filters groups based on a condition.
# 6. `SELECT`: Specifies the columns to be returned.
# 7. `ORDER BY`: Sorts the result set based on one or more columns.
# 8. `LIMIT`/`OFFSET`: Limits the number of rows returned or skips a number of rows.