In [2]:
import pandas as pd
import numpy as np

In [9]:
# Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.
n = [4, 8, 15, 16, 23,42]
p = pd.Series(n)
print(n)

[4, 8, 15, 16, 23, 42]

In [7]:
# Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
# variable print it.

l = [i for i in range(10)]
ser = pd.Series(l)
print(ser)

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int64

In [10]:
# Q3. Create a Pandas DataFrame that contains the following data
data = {
    "name":["Alice","Bob","Claire"],
    "age":[25,30,27],
    "gender":["Female","Male","Female"]
}
dataframe = pd.DataFrame(data)
print(dataframe)

     name  age  gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [ ]:
# ### Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.
# Series
# * it's one one dimensional array
# * elements must be the same data type
# * size of a Series object cannot be changed.
# Ex:
#     l = [i for i in range(10)]
#     ser = pd.Series(l)
#     print(ser)

# DataFrame
# * two dimensional array
# * elements can be different data types.
# * elements can be dropped or added in an existing DataFrame.

# Ex:
#     data = {
#         "name":["Alice","Bob","Claire"],
#         "age":[25,30,27],
#         "gender":["Female","Male","Female"]
#     }
#     dataframe = pd.DataFrame(data)

In [ ]:
# ### Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
# you give an example of when you might use one of these functions?

# * loc, iloc, and [] - selecting rows and cols
# * apply() - update the dataframe values

In [ ]:
# Q6. Which of the following is mutable in nature Series, DataFrame, Panel?
# * Series and DataFrame -  mutable
# * Panel - immutable

In [11]:
# Q7. Create a DataFrame using multiple Series. Explain with an example.
# create a Series for Name, Age, and Salary
names = pd.Series(['John', 'Jane', 'Jim', 'Jill'])
ages = pd.Series([32, 24, 45, 29])
salaries = pd.Series([50000, 60000, 75000, 80000])

# create a dictionary of Series
data = {'Name': names, 'Age': ages, 'Salary': salaries}

# create a DataFrame using the dictionary of Series
df = pd.DataFrame(data)

# print the DataFrame
print(df)

   Name  Age  Salary
0  John   32   50000
1  Jane   24   60000
2   Jim   45   75000
3  Jill   29   80000